$background-blue: #0EA5DC;
$background-footer: #0874A2;
$text-color-desc: #95D9F0;
$label-text-color: grey;
$invalid-form-color: #F3D4D4;
$invalid-text-color: #B02626;
$invalid-feedback-color: #F76060;

$border-radius-default: 4px;

.container {
    padding: 0 400px;
}

.header-container {
    padding: 30px;
}

.header-description {
    height: 230px;
    text-align: center;
    background-color: $background-blue;
    //box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid $background-blue;
}

.text-title {
    color: white;
}

.text-description {
    color: $text-color-desc;
}

.card {
    padding: 50px 50px;
}

.card-small {
    display: flex;
    padding: 15px 0;

    img {
        height: 60px;
        width: 60px;
    }

    p {
        padding: 0 15px;
    }

    a {
        color: $background-blue;
        text-decoration: none;
    }
}

.card.form-register {
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightgray;
}

.content-container {
    display: -webkit-inline-box;
    margin-bottom: 150px;
}

footer {
    background-color: $background-footer;
    height: 250px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

label {
    color: $label-text-color;
    padding-bottom: 10px;
}

.form-group {
    position: relative;
    display: inline-grid;
    padding: 15px 10px;
}

.form-group-inline {
    display: inline;
}

form {
    display: inline-grid;
}

.btn {
    width: fit-content;
    border-radius: $border-radius-default;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-style: none;

}

.btn-submit {
    background-color: $background-blue;
}

.form-control, select {
    border: 1px solid $background-blue;
    border-radius: $border-radius-default;
    box-sizing: border-box;
}

.form-control {
    border: 1px solid darkgrey;
    border-radius: $border-radius-default;
    box-sizing: border-box;
    padding: 12px 10px;
}

.is-invalid {
    background-color: $invalid-form-color;
    border: 1px solid red;
    color: $invalid-text-color;
}

.is-invalid-img {
    width: 20px;
    height: 20px;
    top: 54px;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.invalid-feedback {
    width: inherit;
    padding: 8px 10px;
    background-color: $invalid-feedback-color;
    border-radius: $border-radius-default;
    color: white;
    margin-top: 15px;
    justify-self: end;
}

.footer-logo {
    padding: 35px 35px 0 35px;
    height: inherit;
}

.footer-container {
    display: inline-flex;

    img {
        height: 25px;
        width: 90px;
    }

    ul {
        color: white;
        list-style-type: none;
        overflow: hidden;
        padding: 20px 70px;
        font-size: 13px;

        li {
            color: $text-color-desc;
            display: block;
            cursor: pointer;
            padding: 5px 0;

            img {
                height: 15px;
                width: 15px;
                margin-right: 5px;
                vertical-align: bottom;
            }
        }
    }
}

.img-copyright {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    vertical-align: bottom;
}

.copyright {
    color: $text-color-desc;
    font-size: 13px;
}


