<header>
  <div class="container">
    <!--<h1>hubgets</h1>-->
    <img src="assets/icons/logo.png">
  </div>
  <div class="header-description">
    <div class="container">
      <div class="header-container">
        <h1 class="text-title">Create organization</h1>
        <p class="text-description">Small or large, any team will increase productivity with Hubgets.<br/>It allows teams to filter noise and focus on results.</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="content-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="card form-register">
      <div class="form-group-inline">
        <div class="form-group">
          <label>First name</label>
          <input type="text" [ngClass]="{'is-invalid': registerForm.get('firstName').errors && registerForm.get('firstName').touched}"
            class="form-control" formControlName="firstName">
          <img *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')" class="invalid-feedback" src="assets/icons/high-importance-24.png" 
            class="is-invalid-img">
          <div *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')" class="invalid-feedback">
            Please enter your first name
          </div>
          <div *ngIf="registerForm.get('firstName').hasError('maxlength')" class="invalid-feedback">
            Max length is 25 characters
          </div>
        </div>

        <div class="form-group">
          <label>Last name</label>
          <input type="text" [ngClass]="{'is-invalid': registerForm.get('lastName').errors && registerForm.get('lastName').touched}"
             class="form-control" formControlName="lastName">
          <img *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')" class="invalid-feedback" src="assets/icons/high-importance-24.png" 
            class="is-invalid-img">
          <div *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')" class="invalid-feedback">
            Please enter your last name
          </div>
          <div *ngIf="registerForm.get('lastName').hasError('maxlength')" class="invalid-feedback">
            Max length is 25 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Company</label>
        <input type="text" [ngClass]="{'is-invalid': registerForm.get('company').errors && registerForm.get('company').touched}"
          class="form-control" formControlName="company">
        <img *ngIf="registerForm.get('company').touched && registerForm.get('company').hasError('required')" class="invalid-feedback" src="assets/icons/high-importance-24.png" 
          class="is-invalid-img">
        <div *ngIf="registerForm.get('company').touched && registerForm.get('company').hasError('required')" class="invalid-feedback">
          Please enter your first name
        </div>
        <div *ngIf="registerForm.get('company').touched && registerForm.get('company').hasError('maxlength')" class="invalid-feedback">
          Max length is 25 characters
        </div>
      </div>
      <div class="form-group">
        <label>E-mail address</label>
        <input type="email" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('company').touched}"
          class="form-control" formControlName="email">
        <img *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')" class="invalid-feedback" src="assets/icons/high-importance-24.png" 
          class="is-invalid-img">
        <div *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')" class="invalid-feedback">
          Please enter an email address
        </div>
        <div *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')" class="invalid-feedback">
          Invalid email address
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-submit">REGISTER</button>
      </div>
    </form>
    
    <div class="card">
      <div class="card-small">
        <img src="assets/icons/atom.png">
        <p>Centralizes communication channels and reduces overhead.</p>
      </div>
      <div class="card-small">
        <img src="assets/icons/message.png">
        <p>Brings together instant messaging, voice and video communication in the browser.</p>
      </div>
      <div class="card-small">
        <img src="assets/icons/settings.png">
        <p>Captures information across the organization, retains the knowledge, analyzes and improves it.</p>
      </div>
      <div class="card-small" style="padding-top: 30px">
        <img src="assets/icons/curl.png">
        <p>+1 845 894 123<br><a href="#">help@hubgets.com</a></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/icons/footer_logo.png">
      </div>
      <ul><div>OUR COMPANY</div>
        <li>About us</li>
        <li>Blog</li>
        <li>We are hiring</li>
        <li>Terms of Service</li>
        <li>Contact us</li>
      </ul>
      <ul><div>HUBGETS</div>
        <li>Join the program</li>
        <li>Features</li>
        <li>Current status</li>
      </ul>
      <ul><div>SOCIAL</div>
        <li><img src="assets/icons/twitter-24.png">Twitter</li>
        <li><img src="assets/icons/play-button-24.png">Youtube</li>
      </ul>
    </div>
    <div class="copyright"><img src="assets/icons/copyright-16.png" class="img-copyright">Copyrights 2015 Hubgets, Inc</div>
  </div>
</footer>